<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Make site responsive on mobile/tablet -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Photo Album</title>
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Inconsolata:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="icon" type="image/x-icon" href="favicon.ico?v="+ Math.trunc(Math.random()*999)>
	<!-- The line above is to fix the bug in the chrome browser. 
		 Every other browser displays the favicon without this code. -->
</head>
<body>
    
    <div class="intro">
        <p class="big">David Silva</p> 
        <p class="small">Photo Gallery</p>
    </div>
    
     <% pictures.forEach(function(picture){ %>
        <div class="col-lg-4 col-sm-6">
            <div class="gallery">
                <a target="_blank" href="<%= picture.anchor %>">
                    <img src="<%= picture.image %>">
                </a>
                <a target="_blank" href="<%= picture.anchor %>">
                    <i class="fa fa-camera"></i>
                </a>
            </div>
        </div>
     <% }); %>
         
     <% include partials/pagination %>
     
     <!--<a href="/new">new</a>-->
    
</body>
</html>