<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Make site responsive on mobile/tablet -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Wedding</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
    
    <a href="/new">new</a>
    
    <p>Kristle and David</p> 
    
    <% include partials/pagination %>
    
     <% pictures.forEach(function(picture){ %>
        <a href="<%= picture.image %>">
            <img src="<%= picture.image %>">
        </a> 
     <% }); %>
         
     <% include partials/pagination %>
    
</body>
</html>