<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Make site responsive on mobile/tablet -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Wedding</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
    
    <!--<a href="/new">new</a>-->
    
    <p>
        Kristle and David<br>
        9 . 22 . 17
    </p> 
    
    <% include partials/pagination %>
    
     <% pictures.forEach(function(picture){ %>
        <div class="col-lg-4 col-sm-6">
            <a href="<%= picture.anchor %>">
                <img src="<%= picture.image %>">
            </a>
        </div>
     <% }); %>
         
     <% include partials/pagination %>
     
     <!--<a href="/new">new</a>-->
    
</body>
</html>